@page "/Entrada/Index"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using ProyectoDeRecuperacion.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject NavigationManager navigationManager

@inject EntradaService entradaService
@rendermode InteractiveServer

<PageTitle>Consulta de Entradas</PageTitle>

<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title">Consulta de Entradas</h5>
            <a href="/Entrada/Create" class="btn btn-primary">
                <span class="bi bi-plus-square"></span> Crear
            </a>
        </div>

        <div class="card-body">

            @* Filtros de Fecha *@
            <div class="row">
                <div class="col-3">
                    <label><strong>Desde</strong></label>
                    <InputDate class="form-control" @bind-Value="desde"></InputDate>
                </div>

                <div class="col-3">
                    <label><strong>Hasta</strong></label>
                    <InputDate class="form-control" @bind-Value="hasta"></InputDate>
                </div>
            </div>

            @* Filtros de Selección y Búsqueda *@
            <div class="row align-items-center mt-3">
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                    <InputSelect class="form-select" @bind-Value="Filtro">
                        <option value="" selected disabled>Selecciona una opci&oacute;n</option>
                        <option value="ID">EntradaId</option>
                        <option value="Concepto">Concepto</option>
                    </InputSelect>
                </div>

                <div class="col-4 offset-5">
                    <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                    <div class="input-group">
                        <input class="form-control" @bind="ValorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>
            </div>

            @* Tabla de Resultados *@
            <table class="table table-hover mt-3">
                <thead class="table table-striped text-black">
                    <tr>
                        <th>ID</th>
                        <th>Fecha</th>
                        <th>Concepto</th>
                        <th>Cant. Artículos</th>
                        <th>Costo Promedio</th>
                        <th>Total</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entrada in ListaEntradas)
                    {
                        <tr>
                            <td>@entrada.EntradaId</td>
                            <td>@entrada.Fecha.ToShortDateString()</td>
                            <td>@entrada.Concepto</td>

                            <td>@entrada.Detalles.Sum(d => d.Cantidad)</td>

                            <td>
                                @(entrada.Detalles.Any() ? entrada.Detalles.Average(d => d.Costo).ToString("N2") : "0.00")
                            </td>

                            <td>@entrada.Total.ToString("N2")</td>

                            <td class="text-center">
                                <a href="/Entrada/Edit/@entrada.EntradaId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="card-footer d-flex justify-content-between">
            <label>Conteo: @ListaEntradas.Count()</label>
            <label>Total General: @ListaEntradas.Sum(p => p.Total).ToString("N2")</label>
        </div>
    </div>
</div>

@code {
    public List<Entrada> ListaEntradas { get; set; } = new List<Entrada>();

    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;

    public DateTime? desde { get; set; } = null;
    public DateTime? hasta { get; set; } = null;

    private ApplicationUser? user;
    private string? username;
    private string? phoneNumber;

    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {

        user = await UserManager.GetUserAsync(HttpContext.User);
        if (user is null)
        {
            navigationManager.NavigateTo("/Account/Login");
            return;
        }
        ListaEntradas = await entradaService.Listar(e => true);
    }

    public async Task Buscar()
    {
        var prelista = await entradaService.Listar(e => true);

        if (desde.HasValue)
        {
            prelista = prelista.Where(e => e.Fecha.Date >= desde.Value.Date).ToList();
        }

        if (hasta.HasValue)
        {
            prelista = prelista.Where(e => e.Fecha.Date <= hasta.Value.Date).ToList();
        }

        if (!string.IsNullOrWhiteSpace(ValorFiltro))
        {
            if (Filtro == "ID" && int.TryParse(ValorFiltro, out int id))
            {
                prelista = prelista.Where(e => e.EntradaId == id).ToList();
            }
            else if (Filtro == "Concepto")
            {
                prelista = prelista.Where(e => e.Concepto.ToLower().Contains(ValorFiltro.ToLower())).ToList();
            }
        }

        ListaEntradas = prelista;
    }
}